.MedicalFacility {
  background-color: white;

  .section-img {
    width: 278px;
    height: 150px;
    background-image: url("../../../assets/Facilities/083122lo-go-viet-duc.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #eee;
    border: 1px solid green;
  }
}
